@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0 auto;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header,
main,
footer {
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #4a90e2;
    color: white;
    padding-bottom: 0px;
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.menu-btn {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    background: none;
    border: none;
    color: white;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    padding: 0;
    width: 100%;
    display: block;
}

.menu-btn:hover {
    opacity: 0.8;
}

/* Hide nav by default on mobile */
nav {
    display: none;
}

main h2 {
    margin: 0 0 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}

main {
    background-color: #a8a8a8;
    color: black;
}

footer {
    text-align: center;
    background-color: #4a90e2;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    text-decoration: underline;
}

div {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

div img {
    margin: 10px auto ;
    width: 200px;
    height: 200px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    display: block;
    border: 5px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


@media screen and (min-width: 700px) {
    div {
        grid-template-columns: 1fr 1fr;
    }
    
    nav a {
        display: inline;
    }
    
    nav {
        text-align: right;
    }
}


@media screen and (min-width: 1000px) {
    div {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .menu-btn {
        display: none;
    }
    
    nav {
        text-align: center;
        display: block;
        padding-bottom: 0;
    }
}
