body {
    background-color: #ffffff;
    font-size: 20px;
}
#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 0 auto;
    padding: 50px;
}
h2 {
    color: #035f9c;
    font-size: 0.9em;
    margin: auto;
    text-align: center;
}
hr { 
    height: 3px;
    background-color: #035f9c;
}
h1 {
    text-align: center;
}
h1 {
    text-align: center;
    letter-spacing: 4px;
}

p, li {
    line-height: 1.6;
    margin-bottom: 1rem;
}

img {
    width: 200px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 50px auto;
}