body {
    background-color: #ffffff;
    font-size: 20px;
}
#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 0 auto;
    padding: 50px;
}
h3 {
    color: #035f9c;
    font-size: 0.9em;
    margin: auto;
    text-align: center;
}
hr { 
    height: 3px;
    background-color: #035f9c;
}
h1 {
    text-align: center;
}
img {
    width: 25%;
    display: block;
    margin: 50px auto;
}